body{
    padding:0%;
    margin: 0%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#header{
    background: burlywood;
    height: 500px;
    margin: 0px;
    padding: 0%;
}

.sectionH{
    margin: 0px 180px 20px 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    color: white;
    font-size: 26px;
    display: flex;
    align-items: center;
}

.listH{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:35px;
    color: white;
    list-style: none;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: sienna;
}

.sectionH1{
    margin:90px 180px 70px 180px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    height: 280px;
}

.left{
    width: 500px;
    color: white;
    font-size: 20px;
}

.word{
    font-size: 55px;
}

.sign{
    color: white;
    background:saddlebrown;
    border: 1px solid saddlebrown;
    border-radius: 6px;
    height: 40px;
    width: 120px;
    font-size: 20px;
    margin: 10px 0 0 0px;
}

.right{
    margin:  0px 0px 0px 60px;
}

.right,.img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 550px;
    color: chocolate;
    background: moccasin;
}

#info{
    height: 450px;
}

.title{
    margin: 30px 180px 0px 180px;
    text-align: center;
    color: saddlebrown;
    font-size: 34px;
}
.sectionI{
    margin: 50px 180px 10px 180px;
    height: 360px;   
}

.box{
    border: 5px solid chocolate;
    border-radius: 8px;
    width: 180px;
    height: 190px;
}

.content{
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.partition{
    margin:0%;
    padding:0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    color: saddlebrown;
    font-size: 17px;
}

#quote{
    height: 400px;
    background: moccasin;
}

#quote, .sectionQ{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sectionQ{
    margin: 10px 180px 10px 180px;
    padding:50px;
    font-size: 43px;
    width:900px;
    font-style: italic;
    color: white;
}

.author{
    font-size: 20px;
    font-style: normal;
    display: flex;
    justify-content: flex-end;
    width: 900px;
}

#memo{
    border: 1px solid white;
    margin: 40px 180px 40px 180px;
    height: 250px;
}

.rectangle{
    border: 3px solid saddlebrown;
    display: flex;
    justify-content: space-evenly;
    margin: 50px 30px 50px 30px;
    height: 150px;
    background: saddlebrown;
    color: white;
    border-radius: 8px;
}

.left1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 22px;
}

.call1{
    font-size: 14px;
}

.right1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    height: 30px;
    background: saddlebrown;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    width: 100px
}


#footer{
    height: 100px;
    background: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}
